/* assets/css/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face Declarations */
@font-face {
  font-family: 'Quicksand';
  src: url('~/assets/fonts/Quicksand-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSerifText-Regular';
  src: url('~/assets/fonts/DMSerifText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Custom styles */
@layer base {
  html {
    font-family: "Quicksand", "Inter", sans-serif;
  }
}
